<!-- Student name: Chantelle Lawson
Student number: 301216199 
Assignment Due Date: October 29th 2022
Filename: error.ejs -->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
