<!-- Student name: Chantelle Lawson
Student number: 301216199 
Assignment Due Date: October 29th 2022
Filename: index.ejs -->

<%- include ('partials/header') %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  

<%- include ('partials/footer') %>
