/* Student name: Chantelle Lawson
Student number: 301216199
Assignment Due Date: October 29th 2022
Filename: style.css */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.flash{
  color: red;
}